@import "tailwindcss";

/* Light theme only */
:root {
  --background: #ffffff;
  --foreground: #eef7ff;
  --text-default: #4b5563;

  /* Set Inter font variable */
  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Default text color token */
  --color-text: var(--text-default);

  --font-sans: var(--font-inter);
}

/* Global body styling */
body {
  background: var(--background);
  color: var(--text-default);
  font-family: var(--font-sans);
}
